html {
    scroll-behavior: smooth;
}

a {
    color: #03a9f4;
    text-decoration: none;
}

a:hover {
    color: #03a9f4;
    text-decoration: none;
}

.pkt {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #653E1D;
}

body {
    font-family: 'Poppins', sans-serif;
}

.fade:not(.show) {
    opacity: 10;
}

.float {
    position: fixed;
    width: 45px;
    height: 45px;
    bottom: 15px;
    right: 15px;
    background-color: #653e1d;
    opacity: 0.4;
    color: #FFF;
    border-radius: 50%;
    text-align: center;
    padding-top: 9px;
    z-index: 1;
}


/*transisi*/
#myDivHome {
    transition-duration: 2s, 0s;
}

/*template 2*/
.wrap {
    width: 412px;
    margin: auto;
    border: 1px solid #89694b;
}

.imusic {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 40px;
    padding: 5px;
    border-radius: 50%;
}

#top-content {
    color: #fff;
    margin: auto;
    width: 100%;
    background: linear-gradient(#89694be0, #89694b7a, #89694b00);
    z-index: -1;
}

.img-top {
    width: 100%;
    z-index: -1;
    background-color: #89694b;
}

.title-top {
    margin-bottom: 300px;
}

.couple-name {
    font-size: 40px;
    font-family: Yellowtail;
    margin-bottom: 0;
}

.datetime {
    font-size: 18px;
}

.notice {
    font-size: 16px;
}

.live {
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 16px;
    top: 550px;
    color: #fff
}

.video {
    padding: 10px;
    width: 100%;
    height: 260px;
}

.live a {
    color: #fff
}

.live a:hover {
    color: #000
}

#prayer-content {
    color: #1B2842;
    width: 100%;
    padding: 30px 0px 20px;
}

.couple-des {
    text-align: center;
    margin-bottom: 15px;
}

#prayer-content1 {
    color: #fff;
    background-color: #1B2842;
    width: 100%;
    padding: 30px 0px 20px;
}

.prayer-text {
    width: 100%;
    text-align: center;
    font-size: 16px;
    padding: 0px 30px;
}

#couple-content {
    color: #1B2842;
    margin: auto;
    width: 100%;
    padding: 20px 10px;
}

.couple-title {
    text-align: center;
    text-decoration: underline;
    font-size: 20px;
    margin-bottom: 20px;
    text-underline-position: under;
}

.img-couple {
    position: absolute;
    z-index: -1;
    width: 250px;
    margin-top: 8px;
    border-radius: 50%;
}

.couple-man {
    width: 100%;
    text-align: center;
    color: #1B2842;
    font-size: 18px;
    margin: 28px 18px 0px;
}

.couple-parent {
    width: 100%;
    text-align: center;
    padding: 0 38px;
}

.event-title {
    width: 100%;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
}

.location {
    padding: 10px 30px;
    font-size: 16px;
    color: #1b2842;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.location:hover {
    color: #fff;
    background-color: #1b2842;
}

.img-ring {
    margin-bottom: 25px;
}

.covid-title {
    width: 100%;
    font-size: 18px;
    text-align: center;
    font-weight: 600;
    margin: 0 30px;
}

.img-covid {
    width: 40%;
    margin: 20px 0;
    background-color: #1B2842;
    border-radius: 50%;
}

.covid-info {
    text-align: center;
    margin: 0px 30px 10px;
    width: 100%;
}

.time-title {
    text-decoration: underline;
    font-size: 20px;
    margin-bottom: 20px;
    text-underline-position: under;
}

.countdown {
    font-size: 26px;
}

.countdownD {
    font-size: 14px;
}

.ct {
    margin: 12px 5px;
    width: 60px;
}

#gallery-content {
    color: #1B2842;
    width: 100%;
    padding: 20px 0px;
}

#gallery-row {
    margin-right: -16px;
    margin-left: -16px;
}

.img-gallery {
    max-width: 100%;
    height: auto;
    margin-bottom: 12px;
}

#ucapan {
    margin: 10px 30px;
}

#ucapan .form-control {
    border: 2px solid #1B2842;
    border-radius: 10px;
}

#ucapan .form-control:focus {
    color: #1B2842;
    background-color: #fff;
    border-color: #1B2842;
    outline: 0;
    box-shadow: 0 0 0 0.1rem #1B2842;
}

.btn-secondary.prayer {
    background-color: #1B2842;
    width: 100%;
    border-radius: 10px;
}

#ucapan-content {
    color: #fff;
    background-color: #1B2842;
    padding: 20px 45px;
}

.prayer-title {
    font-size: 18px;
    margin-bottom: 15px;
}

.comment-name {
    font-size: 16px;
    width: 100%;
}

.comment-text {
    font-size: 15px;
    width: 100%;
    margin-bottom: 10px;
}

#couple-content .card {
    margin-bottom: 20px;
    text-align: center;
    padding: 10px;
    width: 100%;
}

#couple-content .card-img-top {
    padding: 0;
    width: 80%;
    margin: auto;
}

#couple-content .card-body {
    padding: 0;
    color: #000;
    margin-top: 5px;
}

#couple-content .card-title {
    margin-bottom: 3px;
}

#footer {
    border-top: 1px solid #eaeaea;
    padding: 20px 20px 10px;
}

.copyright {
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 16px;
}

.img-copyright {
    width: 120px;
    padding: 0 10px;
    margin-bottom: 20px;
}

#wraptext {
    padding: 20px;
    width: 412px;
    text-align: center;
    position: absolute;
    top: 40px;
    font-size: 20px;
}

.border-img {
    border: solid 2px #1b2842;
    width: 250px;
    height: 250px;
    margin-left: -30px;
    border-radius: 50%;
}

#couple-content1 {
    background-color: #1B2842;
    color: #1B2842;
    margin: auto;
    width: 100%;
    padding: 30px 15px;
}

#couple-content1 .event-title {
    font-size: 35px;
    font-family: Yellowtail;
}

#couple-content1 .location {
    display: block;
    margin: auto;
    border-radius: 10px;
    border: 0;
}

#couple-content1 .card {
    border-radius: 15px;
    margin-bottom: 20px;
    width: 100%;
}

#couple-content1 .time-title {
    color: #fff;
    margin-top: 10px;
}

.ring-img {
    margin: auto;
    width: 10%;
    display: block;
    padding-bottom: 15px;
}

.prayer-bg {
    background: #1B284299;
    margin-top: -10px;
    width: 100%;
    height: 60px;
}

@media screen and (max-width: 425px) {
    .wrap {
        width: 100%;
        border: 0px !important;
    }

    #wraptext {
        width: 100%;
    }

    .couple-man {
        margin: 18px 10px 0px;
    }

    .couple-parent {
        padding: 0 10px;
    }
}

@media screen and (max-width: 375px) {
    #wraptext {
        top: 20px;
    }

    .title-top {
        margin-bottom: 190px;
    }

    .live {
        top: 450px;
    }
}

/*mobile*/
@media screen and (max-width: 320px) {
    .guest {
        font-size: 18px;
    }

    .title-top {
        font-size: 18px;
    }

    .couple-name {
        font-size: 36px;
    }

    .datetime {
        font-size: 16px;
    }

    .notice {
        font-size: 14px;
    }

    .live {
        top: 400px;
    }

    #prayer-content {
        padding: 20px 0px 10px;
    }

    .prayer-text {
        padding: 0px 20px;
    }
}

.imgkanan {
    float: right;
    padding-left: 0px;
}

.galeri .col-6 {
    padding-right: 0;
}

.galeri .kiri {
    padding-left: 0px;
}

.galeri img {
    margin-top: 40px;
}

/* .row .btn {
    font-size: 8px;
    height: 50px !important;
} */

.img-top {
    opacity: 0.7;
}

.bg-orange {
    background-color: orange;
    opacity: 0.8;
    height: 800px;
}

.bcimg {
    background: url('img/memotong.png');
    height: 100px;
}

.kotakan {
    position: absolute;
    top: -5px;
    left: 7px;
    border: 2px solid white;
    width: 80%;
    height: 80%;
}

.kotakancw {
    position: absolute;
    top: -5px;
    left: 18px;
    border: 2px solid white;
    width: 80%;
    height: 80%;
}

.shadow1 .btn {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}


/*Scroll bar custom*/
::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #042135;
}

nav {
    background-color: #653E1D;

}



.navbar-dark .navbar-brand {
    color: #602D00;
    font-size: 13px
}

/*atur foto*/
@media screen and (max-width: 409px) {
    /*  .galeri {
    display: inline;
    padding: 0;
    margin: 0;
  }

  .galeri .kanan img{
    padding: 0;
    text-align: center;
  }

  .galeri .kiri img{
    padding: 0;
    margin-left: 20px;
    text-align: center;
    }*/



}


/*galeri*/

@media screen and (max-width: 359px) {
    .galeri .col-6 img {
        width: 90%;
        margin: 20px 0 0 0;
    }

    .galeri .col-6 {
        padding: 0 0 0 0;
    }

    .imgkanan {
        float: right;
    }

    .galeri .kanan {
        padding: 0px 0px 0px 0px;
        margin: 0;

    }

    .galeri .kiri {
        padding: 0px 0px 0px 0px;
        margin: 0;

    }

    .galeri .kanan .img {
        float: right;

    }


    .col-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-4 img {
        width: 80%;
    }

    .col-8 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-8 img {
        width: 80%;
    }

    .kotakancw {
        position: absolute;
        top: -5px;
        left: 18px;
        border: 2px solid white;
        width: 75%;
        height: 100%;

    }

    .kotakan {
        position: absolute;
        top: -5px;
        left: 18px;
        border: 2px solid white;
        width: 75%;
        height: 100%;

    }
}

.bunder-belakang {
    margin-top: -30px;
    width: 60px;
    height: 60px;
    background-color: white;
    border-radius: 40px;
    padding-top: 5px;
}

.border-depan {
    width: 50px;
    height: 50px;
    background-color: #B18762;
    border-radius: 30px;
    margin: auto;
    padding-top: 5px;

}

@media screen and (max-width: 387px) {
    .navbar-dark .navbar-brand {
        font-size: 7px;
    }
}

@media screen and (max-width: 408px) {
    .galeri .col-6 img {
        width: 90%;
        margin: 20px 0 0 0;
    }

    .galeri .col-6 {
        padding: 0 0 0 0;
    }

    .imgkanan {
        float: right;
    }

    .galeri .kanan {
        padding: 0px 0px 0px 0px;
        margin: 0;

    }

    .galeri .kiri {
        padding: 0px 0px 0px 0px;
        margin: 0;

    }

    .galeri .kanan .img {
        float: right;

    }

    /*ini bagian mempelai*/

    .col-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-4 img {
        width: 80%;
    }

    .col-8 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .col-8 img {
        width: 80%;
    }

    .kotakancw {
        position: absolute;
        top: -5px;
        left: 18px;
        border: 2px solid white;
        width: 75%;
        height: 100%;

    }

    .kotakan {
        position: absolute;
        top: -5px;
        left: 18px;
        border: 2px solid white;
        width: 75%;
        height: 100%;

    }
}

.myHome {
    display: block;
    -webkit-animation: fadeInFromNone 2s ease-out;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.myMempelai {
    display: block;
    -webkit-animation: fadeInFromNone 2s ease-out;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.myProtokol {
    display: block;
    -webkit-animation: fadeInFromNone 2s ease-out;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.myGaleri {
    display: block;
    -webkit-animation: fadeInFromNone 2s ease-out;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.myUcapan {
    display: block;
    -webkit-animation: fadeInFromNone 2s ease-out;
}

@-webkit-keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.bahasa {
    float: left;
    margin-left: -500px;
}

.lang {
    float: right;
    position: absolute;
    top: 5px;
    right: 5px;
    position: fixed;
}

/* navbar */
.nav-right {
    right: 20px;
    position: absolute;
    float: right;
}

.navbar-nav .nav-link {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.navbar-nav .line {
    border-bottom: 1px solid #B18762;
    width: 92%;
}

.color-txt {
    color: white !important;
}

li .btn {
    margin-bottom: -12px;
    border-radius: .5rem;
    width: 100px !important;
    height: 43px !important;
}


.rounded-circle {
    display: inline-block;
    border: 1px solid black;
    width: 75px;
    height: 75px;
    padding-top: 20px;
    color: #000;
    margin-left: 10px;
    margin-right: 10px;
}

a .rounded-circle {
    border-color: rgb(182, 173, 173) !important;
}

/* atur opacity font awesome */
.border-danger .fab {
    opacity: 0.6;
}

.float-right {
    color: #000;
}

.login-content {
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 20;
}




/* navbar */
/* .navbar-right {
  position: absolute;
  right: 20px;
} */

.text-white {
    color: white !important;
}

.underline {
    text-decoration: underline;
}

.navbar-light {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0) !;
}

/* form login */
.side-right {
    /* padding: 120px 240px 20px 240px; */
    box-sizing: border-box;
    margin-bottom: -20px;
}

/* side login */
/* .bg-login {
  background-image: url('../img/login-bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  color: rgb(255, 255, 255);
} */
/* konten side login */
.bg-login {
    padding: 110px 20px 30px 20px;
    top: 56px;
    position: absolute;
    z-index: 2;
    color: rgb(235, 229, 229);
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

.mid-login {
    max-width: 500px;
    margin: 0px auto;
    padding: 0 50px;
    padding-top: 120px;
}




/* full background side */
.row .col-4 {
    height: 100vh;
}

.bg-bawah {
    width: 100%;
    height: 100%;
}

/* logo cincin */
.rounded-sidebar {
    border-radius: 100px;
    display: inline-block;
    border: 4px solid white;
    width: 50px;
    height: 50px;
    padding-top: 7px;
    color: rgb(255, 254, 254);
    margin-left: 10px;
    margin-right: 10px;
}

.border-danger {
    border-color: #ffffff !important;
}

/* button */
.row .button-large {
    font-size: 16px;
    width: 200px;
    margin-bottom: 150px;
}

/* jarak header */
.header-top {
    margin-top: -30px !important;
    margin-bottom: 80px;
}

.btn-danger {
    background-color: #653E1D;
}

/* ganti password */
.change {
    max-width: 500px;
    margin: 160px auto;
}


/* icon pada input area */
.side-right .form-control {
    height: 50px !important;
    box-shadow: 0px 0px 4px 2px rgb(218, 218, 218) inset;
}

.user {
    background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="grey" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/><circle cx="12" cy="7" r="4"/></svg>');
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    padding: 10px 5px 10px 20px;
    text-indent: 20px;

    -webkit-transition: all 0.2s;
    -moz-transition: all 2s;
    transition: all 0.2s;

}

.mail {
    background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="grey" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"/><polyline points="22,6 12,13 2,6"/></svg>');
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    padding: 10px 5px 10px 20px;
    text-indent: 20px;

    -webkit-transition: all 0.2s;
    -moz-transition: all 2s;
    transition: all 0.2s;
}

.lock {
    background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="grey" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-lock"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"/><path d="M7 11V7a5 5 0 0 1 10 0v4"/></svg>');
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    padding: 10px 5px 10px 20px;
    text-indent: 20px;

    -webkit-transition: all 0.2s;
    -moz-transition: all 2s;
    transition: all 0.2s;
}

.phone {
    background-image: url('data:image/svg+xml, <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="grey" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone"><rect x="3" y="11" width="18" height="11" rx="2" ry="2"/><path d="M7 11V7a5 5 0 0 1 10 0v4"/></svg>');
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid #ccc;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;

    padding: 10px 5px 10px 20px;
    text-indent: 20px;

    -webkit-transition: all 0.2s;
    -moz-transition: all 2s;
    transition: all 0.2s;
}

/* responsive login */
@media screen and (max-width: 990px) {
    .col-4 {
        display: none;
    }

    .col-8 {
        width: 100%;
        max-width: 100%;
        flex: 100%;
    }
}

.item-nav {
    list-style: none;
}

/* @media screen and (max-width: 756px) {
  /* .side-right {
    padding: 120px 80px 20px 80px;
  } */

/* .navbar-nav {
    height: 37vh;
    background-color: #ffffffc7;
    border: 2px solid brown;
    border-radius: 15px;

  }

  .btn-danger {
    margin-right: 47px;
    margin-top: 20px;
  } */
/* } */

/* ------------------------------------- dashboard ------------------------------- */
/* navbar dahsboard */
@media screen and (max-width: 990px) {
    .navbar-nav {
        height: 37vh;
        background-color: #ffffffc7;
        border: 2px solid brown;
        border-radius: 15px;

    }

    .btn-danger {
        margin-right: 47px;
        margin-top: 20px;
    }

}

@media screen and (min-width: 990px) {
    .mid-logo {
        margin-left: auto;
        margin-right: auto;
    }

    .aba {
        display: none;
    }

    .x {
        display: none;
    }
}

/* margin bottom 100 */
.mb-100 {
    margin-bottom: 100px;
}


/* ---------------------- sidebar dashboard -------------- */
.dashboard-sidebar {
    top: 59px;
    background-color: #653E1D;
}

ul li a {
    color: #89694B !important;
}

.sidebar-sticky ul li {
    margin: 9px;
}

.sidebar {
    padding-top: 50px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    height: 900vh;
    max-width: 30vh;
    padding-left: 40px;
    position: fixed;
}

.nav-side .color-txt:hover {
    color: brown !important;
    width: 179px;
    background-color: white;
    border-radius: 10px 0px 0px 10px;
    padding-right: 10px;
    border-bottom: none;
    opacity: 0.5;
}

/* --------------------button------------------ */
#sidebar_hide {
    background-color: white;
    border: none;
    border: 2px solid #03033a14;
    border-radius: 5px;
    width: 50px;
    height: 40px;
}

img.navbar-toggler {
    padding: 0;
    position: absolute;
    top: 8px;
    right: 20px;
}

.closeX {
    display: none;
    position: absolute;
    font-size: 20px;
    top: 10px;
    right: 13px;
}

.col-lg-3.dashboard-sidebar.sidebar.colapse-sidebar.navbar-nav {
    max-width: 215px;
    padding-left: 40px;
    height: 1000px;
    position: fixed;
}


@media screen and (max-width: 990px) {
    .row-amplop {
        margin-left: 40px !important;
    }

    .next-prev {
        right: 40px !important;
    }
}

.aba {
    position: absolute;
    top: 10px;
    left: 15px;
    z-index: 10;
}


/* dashboard sidebar right */
.sidebar-right {
    padding-right: 20px;
    position: fixed;
    right: 10px;
    top: 58px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    z-index: 3;
    background: white;
}

.sidebar-right ul {
    margin-right: 20px;
}

.sidebar-right ul li {
    margin-top: 5px;
}

@media screen and (max-width: 990px) {
    .dashboard-sidebar {
        top: 56px;
        float: left;
        left: 30px;
    }

    .sidebar-register {
        background-color: white !important;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        right: 0 !important;
        top: 58px;
    }

    .close-right {
        position: absolute;
        left: 36px;
        top: 30px;
    }

    .hide {
        display: none;
    }

    .sidebar-sticky {
        background-color: #653E1D !important;
    }

    .sidebar-sticky .flex-column .nav-item {
        padding-left: 35px;
        padding-right: 20px;
    }

    .sidebar-sticky .flex-column .nav-item .nav-link {
        border-bottom: 1px solid #B18762;
    }

    .navbar-nav {
        position: absolute;
        z-index: 10;
        height: 37vh;
        background-color: #653E1D;
        color: white;
    }


    .sidebar-sticky ul li {
        margin: 1px;
    }

    .colapse-sidebar {
        display: none;
    }


    .btn-danger {
        margin-right: 47px;
        margin-top: 20px;
    }

    .mid-logo {
        margin-right: auto;
        margin-left: auto;
    }

    .sidebar {
        border-right: 0px;
        padding-top: 0px;
    }


    .bg-white {
        background-color: #653E1D !important;
    }

    .sidebar-sticky ul li a {
        color: white !important;
    }

    .sidebar-sticky ul li a:hover {
        color: rgb(26, 150, 172) !important;
    }

    .row .navbar-nav {
        height: 60vh;
        left: 0;
        top: 0;
        padding-top: 50px;
        padding-left: 0;
        position: fixed;
    }

    /* close sidebar */
    .dashboard-sidebar .x {
        position: absolute;
        font-size: 20px;
        top: 12px;
        right: 13px;
    }

    a {
        color: black;
    }

    .mini-right {
        position: fixed;
        top: 0px;
        right: 0px;
        background: #FFFFFF;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        z-index: 13;
        border-radius: 5px 0px 0px 5px;
    }

    .mini-right ul {
        padding-right: 35px;
    }

    .mini-right ul li {
        border-bottom: 1px solid #ECEAEA;
        padding-bottom: 15px;
        padding-top: 15px;
    }


}

/* -----------content---------- */
.mid-dashboard {
    /* max-width: 450px; */
    margin: 0px auto;
    padding: 100px 0px 0px 0px;
}

/* navbar dashboard */
.avatar {
    border: 1px solid rgba(0, 0, 0, 0.062);
    width: 40px;
    height: 40px;
    border-radius: 100px;
    bottom: 1px;
    right: 3px;
    position: absolute;
    padding: auto;
}

.avatar-drop {
    border: 1px solid black;
    width: 60px;
    height: 60px;
    border-radius: 100px;
    margin: 10px auto 10px auto;
}

.fixed-top {
    z-index: 8;
}

.side-hide {
    display: none;
}


.carousel-control-next-icon,
.carousel-control-prev-icon {
    margin-top: 7px;
}

.dashboard-profile {
    padding: 85px 45px;
}

.cover {
    width: 100%;
}

.cover img {
    width: 100%;
}

.img-profile-outer {
    position: relative;
    top: -65px;
    left: 30px;
    border-radius: 100%;
    width: 130px;
    height: 130px;
    padding: 5px;
    background: #FFFFFF;
    border: 1px solid #BAB8B8;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

.img-profile {
    border-radius: 100%;
    width: 120px;
    height: 120px;
}

.avatar-change {
    background-color: #653E1D;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    position: relative;
    top: -14px;
    left: 42px;
}


.name {
    position: relative;
    top: -88px;
    left: 132px;
    width: 200px;
}

.profile-area {
    border: 1px solid #653E1D;
    /* height: 300px; */
    padding: 35px 52px 35px 52px;
}

.text-brown {
    color: #89694B;
}

/* dashboard profile */
.col-lg-9.col-md-12.full {
    margin-left: auto;
    margin-right: auto;
    padding-right: 0;
    overflow-x: hidden;
    position: relative;
    left: 99px;
    padding-left: 17px;
}

/* animasi bar */
@keyframes animasi-bar {
    from {
        opacity: 0.5;
        top: -30px;
    }

    to {
        opacity: 1;
        top: 0;
    }
}


@media screen and (max-width: 990px) {
    .col-lg-9.col-md-12.full {
        left: -8px;
    }

    .animate-bar {
        animation-name: animasi-bar;
        animation-duration: 0.5s;
        animation-timing-function: ease-in;
    }
}

.feather-camera {
    margin-left: 10px;
    margin-top: 7px;
}


/* form  */
.text-brown .form-group input {
    border: 1px solid #653E1D;
    border-radius: 9px;
}

.form-group select {
    border: 1px solid #653E1D;
    border-radius: 9px;
}

.btn-form {
    border-radius: 9px;
}

.btn-danger:hover {
    color: #fff;
    background-color: #653E1D94;
    border-color: #89694B;
}

/* header profile */
.header-profile {
    font-size: 17px;
    font-weight: 500;
}


/* responsive dashboard profile  */
@media screen and (max-width: 990px) {
    .dashboard-profile {
        padding: 0px;
    }

    .img-profile-outer {
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 100px;
    }

    .name {
        margin-top: 75px;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        line-height: 18px;
    }

    .profile-area {
        margin-top: 10px;
    }

    .img-profile {
        width: 90px;
        height: 90px;
    }

    .avatar-change {
        left: 26px;
    }
}

@media screen and (max-width: 735px) {
    .img-profile-outer {
        left: 50%;
        transform: translateX(-50%);
        width: 80px;
        height: 80px;
        top: -40px;
    }

    .img-profile {
        width: 70px;
        height: 70px;
    }

    .avatar-change {
        left: 20px !important;
        width: 30px;
        height: 30px;
    }

    .feather-camera {
        margin-left: 8px;
        margin-top: 4px;
    }

}

@media screen and (max-width: 600px) {
    .dashboard-profile {
        padding: 35px 0px;
    }
}


/* home page */
.bg-brown {
    background-color: #653E1D;
}

.bg-cream {
    background-color: #EBD8C9;
}

/* hiasan */
.ornamen {
    height: 188px;
    width: 115px;
    background-color: #BC9784;
    position: relative;
    float: right;
    right: 69px;
    border-radius: 0 0 10px 10px;
    padding: 0px 13px 13px 13px;
}

.ornamen-line {
    border: 1px solid #fff;
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 8px 8px;
}

/* atur posisi gambar banner */
.banner-home {
    display: block;
    width: 215px;
}

.banner-text {
    position: relative;
    top: 153px;
    left: 50%;
    transform: translateX(-8%);
    color: #653E1D;
    font-family: 'Poppins', sans-serif;
}

/* atur posisi tulisan pada banner */
.banner-text p {
    left: -91px;
    font-size: 33px;
    position: relative;
    top: 40px;
}

.banner-text .order {
    top: 89px;
    left: 12px;
    padding: 6px;
    position: relative;
    border: 2px solid #653e1d;
    width: 199px;
    font-size: 21px;
}

/* banner home */
.content-home {
    margin-top: 48px;
    overflow-x: hidden;
}

.header-title {
    color: #A85C19;
    font-size: 30px;
    font-weight: 400;
}

.fitur-text {
    padding-top: 100px;
    padding-left: 30px;

}

.next-button {
    border-radius: 100%;
    background-color: #B18762;
    width: 35px;
    height: 35px;
}

.img-fitur {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.header-fitur {
    font-weight: 500;
    font-size: 25px;
    margin-bottom: 30px;
}

.fitur .slide .carousel-inner .carousel-item .row {
    padding-top: 100px;
    padding-bottom: 150px;
}

.img-fitur img {
    width: 100%;
    height: auto;
}

/* demo tema */
.demo-tema {
    background-color: #653E1D;
    padding: 60px;
    padding-left: 0;
    padding-right: 0;
    border-radius: 5% 5% 0 0;
}

.pop-text {
    font-family: 'Poppins', sans-serif;
    font-size: 14px
}

.img-tema {
    border-right: 2px solid #C4C4C4;
}

.tema-choose {
    margin-top: 30px;
    margin-bottom: 30px;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none;
    border-top: 3px solid #B18762;
}

.tema-choose img {
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.color-choose {
    display: flex;
    border-top: 3px solid #B18762;
    padding-top: 20px;
}

.color {
    width: 40px;
    height: 40px;
    background-color: #596951;
    border-radius: 100%;
    margin-right: 20px;
}

.color-2 {
    width: 40px;
    height: 40px;
    background-color: #FFB8B8;
    border-radius: 100%;
    margin-right: 20px;
}

.color-3 {
    width: 40px;
    height: 40px;
    background-color: #A85C19;
    border-radius: 100%;
    margin-right: 20px;
}

/* daftar paket */
.paket-content {
    margin: 40px;
}

.paket-menu {
    border: 1px solid #653E1D;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 30px 10px;
    color: #89694B;
}

.paket-inner {
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}

.paket-inner .fas {
    margin-right: 10px;
}

.price {
    text-align: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: #89694B;
}

.price-disc {
    text-align: center;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: #A8A1A1;
    text-decoration: line-through;
}

/* footer */
.footer {
    height: 200px;
    background-color: #653E1D;
    color: white;
}

.footer-logo img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-logo {
    background-color: white;
    border-radius: 10px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: -28px;
    box-shadow: 0px -5px 6px -2px rgba(0, 0, 0, 0.15);
}

.sosmed-footer {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 110px;
}

.wa {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    color: #653E1D;
    font-size: 30px;
    margin-right: 10px;
}

.ig {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: white;
    color: #653E1D;
    font-size: 30px;
}

/* responsive homepage */
@media screen and (max-width: 768px) {
    .img-tema {
        border-right: 0px;
    }

    .content-tema {
        max-width: 275px;
    }

    .color-choose {
        border-top: 0px;
        padding-left: 62px;
    }

    .tema-choose {
        border-top: 0px;
    }

    /* .hide-item p {
    display: none;
  } */
    .header-fitur {
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }

    .fitur-text p {
        max-width: 400px;
        margin-left: auto;
        margin-right: auto;
    }

    .button-paket {
        max-width: 140px;
        margin-left: auto;
        margin-right: auto;
    }

    .paket-menu {
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

    .fitur .slide .carousel-inner .carousel-item .row {
        padding-top: 0px;
    }

    .content-tema {
        max-width: 275px;
        margin-top: 45px;
    }
}

.lang-footer {
    position: absolute !important;
    bottom: 0px;
    left: 50px;
}

.lang-footer1 {
    margin-left: auto;
    margin-right: auto;
    display: none;
}

.copyright-footer {
    position: absolute !important;
    bottom: 0;
    right: 50px;
}

.copyright-footer1 {
    margin-left: auto;
    margin-right: auto;
    display: none;
}

/* whatsapp ballon */
.ballon {
    background-color: #00E676;
    width: 50px;
    height: 50px;
    position: fixed;
    border-radius: 100%;
    bottom: 60px;
    right: 40px;
    z-index: 2000;
    box-shadow: 8px 9px 9px -6px rgba(26, 24, 24, 0.49);
}

.ballon .fa-whatsapp {
    font-size: 28px;
    margin-left: 14px;
    margin-top: 11px;
    color: #fff;
}

/* poppin text */
.poppin-text {
    font-family: 'Poppins', sans-serif;
    color: #653E1D;
}

.undangan-header {
    font-size: 20px;
    margin-bottom: 30px;
    color: #653E1D;
}


/* undangan  */
.undangan-data {
    border: 1.5px solid #653E1D;
    padding: 20px;
    margin-bottom: 40px;
}

.undangan-title {
    border-bottom: 1px solid #653E1D;
    font-size: 17px;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

/* preview tema */
.theme-preview {
    border: 2px solid #000;
    border-radius: 10px;
    margin-top: 62px;
    height: 500px;
    margin-bottom: 40px;
    overflow-y: scroll;
    scrollbar-width: none;
    width: 100%;
}

/* sound */
.sound-box {
    border: 1px solid #653E1D;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.sound-title {
    font-weight: bold;
    margin-bottom: 7px;
    font-size: 10px;
}

.sound-author {
    margin-bottom: 0;
    font-size: 10px;
}

.img-sound {
    flex: 3;
}

.info-sound {
    flex: 4;
    padding-left: 10px;
    font-size: 7px;
}

.play-button {
    flex: 1;
}

.kolom-sound {
    display: flex;
}


/* font family */
.great-text {
    font-family: 'Great Vibes', cursive;
}

.balo-text {
    font-family: 'Baloo 2', cursive;
}

/* amplop manajemen */
.table-amplop-hd {
    background-color: #653E1D;
    color: white;
}

.table-amplop-odd {
    color: #653E1D;
}

.table-amplop-even {
    background-color: #653d1d2d;
    color: #653E1D;
}

@media screen and (max-width: 990px) {
    .row-amplop {
        margin-left: 30px;
        margin-right: 40px;
        margin-top: 45px;
    }
}

@media screen and (max-width: 468px) {
    .row-amplop {
        overflow-x: auto;
    }
}


/* ucapan */
.pagination-ucapan {
    position: relative;
    top: -25px;
    left: 80px;
}

.next-prev {
    right: 0;
    position: absolute;
    margin-top: -48px;
}

.aktif .color-txt {
    color: brown !important;
    width: 179px;
    background-color: white;
    border-radius: 10px 0px 0px 10px;
    padding-right: 10px;
    border-bottom: none;
}

.nav-side {
    padding-right: 30px;
}

@media screen and (max-width : 990px) {
    .says {
        margin-left: 40px;
        margin-right: 40px;
    }
}

.galeri-add {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
}

.galeri-plus {
    width: 100%;
    margin-bottom: 180px;
    border-radius: 10px;
    border: 1px dashed #9C7756;
    height: 83%;
}

.plus {
    width: 52px;
    top: 21%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

@media screen and (max-width: 767px) {
    .galeri-plus {
        padding: 37%;
    }

    .ballon {
        width: 50px;
        height: 50px;
        bottom: 25px;

    }

    .ballon .fa-whatsapp {
        font-size: 35px;
        margin-left: 11px;
        margin-top: 8px;
        color: #fff;
    }
}

.border-tema {
    height: 660px;
    overflow: auto;
    scrollbar-width: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
}

[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio]+.sound-box {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked+.sound-box {
    /* opacity: 0.5; */
    /* border: 2px solid black; */
    color: white;
    background: #653E1D;
}

/* radio theme  */

.theme-c:hover {
    border: 2px solid yellow;
    opacity: 70%;
    cursor: pointer;
}

.on {
    border: 3px solid black !important;
}

@keyframes fadeIn {
    to {
        opacity: 0.5;

    }
}

/*.fade {
	opacity: 0.2;
	animation: fadeIn 1s forwards;
}*/

.sound-choose {
    display: flex;
    flex-wrap: wrap;
}

.sound-box {
    margin-left: 5px;
    margin-right: 5px;
}


/* radio */
.sound-choose input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.color-choose input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.tema-choose input {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.sound-choose input:active+.drinkcard-cc {
    opacity: 0.7;
    border: 1px dashed #602D00;
}

.sound-choose input:checked+.drinkcard-cc {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.color-choose input:active+.drinkcard-cc {
    opacity: 0.3;
    border: #602D00;
}

.color-choose input:checked+.drinkcard-cc {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.tema-choose input:active+.drinkcard-cc {
    opacity: 0.3;
    border: 1px solid #602D00;
}

.tema-choose input:checked+.drinkcard-cc {
    -webkit-filter: none;
    -moz-filter: none;
    filter: none;
}

.drinkcard-cc {
    cursor: pointer;
    background-size: contain;
    -webkit-transition: all 100ms ease-in;
    -moz-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
}

.drinkcard-cc:hover {
    opacity: 0.6;
}

.temalist {
    border: 3px solid transparent;
    border-radius: 10px;
}

.temalist:hover {
    opacity: 0.6;
    border: 3px solid rgb(30, 30, 30);
    border-radius: 10px;
}

/* setting carousel */
.carousel-control-next {
    right: 0;
    background: none;
    border: transparent;
}

.carousel-control-prev {
    right: 0;
    background: none;
    border: transparent;
}

.slicehome {
    margin-top: -170px;
    position: relative;
    z-index: 1;
}

@media screen and (max-width: 1521px) {
    .slicehome {
        margin-top: -150px;
    }
}

@media screen and (max-width: 1377px) {
    .slicehome {
        margin-top: -140px;
    }
}

@media screen and (max-width: 1169px) {
    .slicehome {
        margin-top: -118px;
    }
}

@media screen and (max-width: 996px) {
    .slicehome {
        margin-top: -100px;
    }
}

@media screen and (max-width: 850px) {
    .slicehome {
        margin-top: -85px;
    }
}

@media screen and (max-width: 604px) {
    .slicehome {
        margin-top: -60px;
    }
}

@media screen and (max-width: 516px) {
    .slicehome {
        margin-top: -51px;
    }
}

@media screen and (max-width: 435px) {
    .slicehome {
        margin-top: -43px;
    }
}

@media screen and (max-width: 370px) {
    .slicehome {
        margin-top: -37px;
    }
}

@media screen and (max-width: 317px) {
    .slicehome {
        margin-top: -32px;
    }
}

.fitur {
    margin-top: -300px;
    position: relative;
    z-index: 2;
}

/* responsive fitur */
@media screen and (max-width: 1437px) {
    .fitur {
        margin-top: -256px;
    }
}

@media screen and (max-width: 1240px) {
    .fitur {
        margin-top: -215px;
    }
}

@media screen and (max-width: 1014px) {
    .fitur {
        margin-top: -180px;
    }
}

@media screen and (max-width: 878px) {
    .fitur {
        margin-top: -140px;
    }

    .demo-tema {
        border-radius: 50px;
    }

    .copyright-footer {
        display: none;
    }

    .copyright-footer1 {
        display: block;
        width: fit-content;
        margin-top: 20px;
    }

    .lang-footer {
        display: none;
    }

    .lang-footer1 {
        display: block;
        left: 30%;
        transform: translateX(11%);
        margin-top: 13px;
    }
}

@media screen and (max-width: 688px) {
    .fitur {
        margin-top: -100px;
    }
}

@media screen and (max-width: 503px) {
    .fitur {
        margin-top: -70px;
    }
}

@media screen and (max-width: 342px) {
    .fitur {
        margin-top: -40px;
    }
}

@media screen and (max-width: 209px) {
    .fitur {
        margin-top: -22px;
    }
}

/* responsive img fitur */
@media screen and (max-width: 969px) {
    .img-fitur {
        margin-top: 50px;
    }
}

@media screen and (max-width: 949) {
    .img-fitur {
        margin-top: 75px;
    }
}

/* responsive footer  */
@media screen and (max-width:734px) {}
