html {
    scroll-behavior: smooth;
  }

  body {
    font-family: "Poppins", sans-serif;
  }

  li a {
    color: #004aad;
    font-weight: bold;
  }

  .active {
    color: #004aad !important;
  }

  .img-hp a {
    width: 2rem;
  }

  .hero .jumbotron {
    height: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(255, 0, 0, 0)), to(#004aad)), url("../img/bg_hero.jpg");
    background-image: linear-gradient(to left, rgba(255, 0, 0, 0) 0%, #004aad 100%), url("../img/bg_hero.jpg");
  }

  .jumbotron:after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  nav {
    z-index: 1;
  }

  .text-perumku {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 40px;
    line-height: 1.5;
  }

  .card-perumku {
    height: 100%;
  }

  .unorder-perumku {
    list-style-image: url("../icons/ic_list.svg");
  }

  .list-perumku::before {
    margin-top: -2em;
  }

  @media only screen and (max-width: 768px) {
    .hero .jumbotron {
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: -webkit-gradient(linear, right top, left top, from(rgba(156, 120, 120, 0)), to(#004aad)), url("../img/bg_hero.jpg");
      background-image: linear-gradient(to left, rgba(156, 120, 120, 0) 0%, #004aad 100%), url("../img/bg_hero.jpg");
    }
    .jumbotron:after {
      position: absolute;
      content: "";
      width: 100%;
      top: 0;
      left: 0;
    }
    .card-perumku {
      height: 100%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
    .img-hp {
      display: none;
    }
    .text-perumku {
      text-align: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      font-size: 1.5rem;
    }
    .text-md-perumku {
      text-align: center;
    }
    .btn-perumku {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }
  /*# sourceMappingURL=main.css.map */
