@media screen and (max-width: 1240px) {
	.navbar.pt {
		padding: 0 60px;
	}

	.box-spek.active {
		color: #fff;
		background-color: #8BBF2B;
	  }

	  .box-detail.active {
		color: #fff;
		background-color: #8BBF2B;
	  }

	  .nav {
		/* display: block; */
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
		align-content: flex-start;
		flex-direction: row;
		justify-content: center;
	  }

	  .btn-wisata {
		width: 196px;
	  }
}

/*ipad pro*/
@media screen and (max-width: 1024px) {

	.navbar.pt {
		padding: 0 80px;
	}
	#konten-pembayaran {
		padding: 60px 20px;
	}
	.banner.pt{
		padding: 0 80px;
	}
}
@media screen and (max-width: 767px) {
	.navbar.pt {
		padding: 0 80px;
	}
	#konten-pembayaran {
		padding: 60px 20px;
	}
	.banner.pt{
		padding: 0 80px;
		/* opacity: 0.8; */
		background-position: center;
  		background-size: cover;
		/* background-image: url("../img/line-modern.jpg"); */
	}
	.col-md-6.block{
		display: none;
	}

	.title-memilih{
		margin-left: 0px;
	}

	.text-memilih{
		margin-left: 0px;
	}

	ul.ul-memilih {
		margin-left: 0px;
	}

	li.li-memilih {
		margin-left: 0px;
	}

	.gr-memilih {
		margin-left: 0px;

	}
}
@media screen and (max-width: 575px) {
	.navbar.pt {
		background-color: #005C9C;
		padding: 0 15px;
	}
	.banner.pt{
		padding: 0 10px;
		/* opacity: 0.8; */
		background-position: center;
  		background-size: cover;
		/* background-image: url("../img/line-modern.jpg"); */
	}
	#konten {
	    padding: 30px 0px;
	}
	.btn-outline-primary.p {
		margin-right: auto;
		display: unset;
		margin-top: 8px;
		padding: 5px 18px;
		font-size: 18px;
	}

	.judul{
		color: #fff;
		margin-top: 20px;
		font-size: 18px;
		font-weight: 500;
	}

	.deskripsi{
		margin-top: -10px;
		margin-bottom: 20px;
		font-size: 14px;
		color: #fff;
	}

	#footer {
		padding: 15px 5px 5px;
		font-size: 18px;
	}
	#about-footer h4 {
		font-size: 22px;
		font-weight: 600;
		margin-top: 15px;
	}

	.title-memilih{
		padding: 0px 20px 0px 20px;
    	text-align: center;
	}

	.text-memilih{
		padding: 0px 25px 0px 25px;
	}

	ul.ul-memilih {
		padding: 0px 25px 0px 25px;
	}

	li.li-memilih {
		padding: 0px -5px 0px 25px;
	}

	.gr-memilih {
		padding: 0px 25px 0px -25px;

	}
}
@media screen and (max-width: 1200px) {
    .image-car{
        position: relative;
        width: 90%;
        height: 150px;
        left: -5px;
        top: 75px;
        /* margin-bottom: 40px; */
    }

	.box-spek.active {
		color: #fff;
		background-color: #8BBF2B;
	  }

	  .box-detail.active {
		color: #fff;
		background-color: #8BBF2B;
	  }

	  .nav {
		/* display: block; */
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
		align-content: flex-start;
		flex-direction: row;
		justify-content: center;
	  }

	.diskon{
		position: absolute;
		width: 50px;
		height: 50px;
		left: 670px;
		top: -30px;
		background: #FD6A00;
		border-radius: 50px;
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 23px;
		color: #FFFFFF;
	}

	.box-price{
		box-sizing: border-box;
		position: absolute;
		width: 373px;
		height: 45px;
		left: 305px;
		top: -146px;
		background: #8BBF2B;
		border-radius: 10px;
		display: flex;
    	justify-content: center;
    	align-items: center;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		color: #fff;
	}

	.car-price{
		display: none;
	}

	.box-price{
		box-sizing: border-box;
		position: absolute;
		width: 373px;
		height: 45px;
		left: 305px;
		top: -146px;
		background: #8BBF2B;
		border-radius: 10px;
		display: flex;
    	justify-content: center;
    	align-items: center;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		color: #fff;
	}

	.box-spek{
		box-sizing: border-box;
		position: absolute;
		width: 100px;
		height: 40px;
		left: 288px;
		top: -85px;
		background: #E2E2E2;
		border-radius: 10px;

		display: flex;
    	justify-content: center;
    	align-items: center;
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 19px;
		color: #5C5C5C;
	}

	.box-detail{
		box-sizing: border-box;
		position: absolute;
		width: 100px;
		height: 40px;
		left: 288px;
		top: -30px;
		background: #E2E2E2;
		border-radius: 10px;

		display: flex;
    	justify-content: center;
    	align-items: center;
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 19px;
		color: #5C5C5C;
	}

	.tabel-spek{
		position: relative;
		width: 285px;
		height: 105px;
		left: 400px;
		top: -100px;
		margin-bottom: -100px;
	}

	.spek{
		position: relative;
		left: 30px;
		top: -22px;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		margin-bottom: -10px;
		color: #5F5F5F;
	}

	.bulat{
		box-sizing: border-box;
		width: 22px;
    	height: 22.2px;
		border-radius: 50px;
		border: 1px solid #5176A5;
	}
	.icon-spek{
		font-size: 14px;
		margin-left: 4px;
		margin-top: 3px !important;
		display: block;

	}

	.pesan-now{
		box-sizing: border-box;
		position: relative;
		border: none;
		width: 165px;
		height: 40px;
		left: 444px;
		margin-top: 10px;
		margin-bottom: 20px;
		background: #FD6A00;
		border-radius: 20px;
	}

	.tabel-harga{
		position: relative;
		width: 100%;
		height: 105px;
		left: 10px;
    	top: 0px;
		margin: 0 auto;

		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 22px;
		color: #5C5C5C;
	}

	.pane-harga {
		margin-bottom: 55px;
	}


}
@media screen and (max-width: 991.11px) {

    .title-wisata {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 28px;
    }

    .diskon-wisata {
        margin-top: -60px;
        height: 40px;
        width: 100px;
        font-size: 16px;
    }

	.harga-wisata {
		font-size: 19px;
	}

	.btn-wisata {
		width: 136px;
		font-size: 16px;
		height: 40px;
	  }

	  .destinasi{
		font-size: 20px;
		margin-left: -10px;
	  }

	.box-spek.active {
		color: #fff;
		background-color: #8BBF2B;
	  }

	  .box-detail.active {
		color: #fff;
		background-color: #8BBF2B;
	  }

	  .nav {
		/* display: block; */
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		padding-left: 0;
		margin-bottom: 0;
		list-style: none;
		align-content: flex-start;
		flex-direction: row;
		justify-content: center;
	  }
	  p
	.text-top{
		text-align: center;
		padding: 0 0%;
		margin-top: 40px;
	}

	.row-2{
		padding: 0 0px;
	}

	.row-pr{
		padding: 0 0px;
		margin-bottom: 40px;
	}

	.box-price{
		box-sizing: border-box;
		position: absolute;
		width: 373px;
		height: 45px;
		left: 305px;
		top: -146px;
		background: #8BBF2B;
		border-radius: 10px;
		display: flex;
    	justify-content: center;
    	align-items: center;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		color: #fff;
	}

	.box-spek{
		box-sizing: border-box;
		position: absolute;
		width: 100px;
		height: 40px;
		left: 288px;
		top: -85px;
		background: #E2E2E2;
		border-radius: 10px;

		display: flex;
    	justify-content: center;
    	align-items: center;
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 19px;
		color: #5C5C5C;
	}

	.box-detail{
		box-sizing: border-box;
		position: absolute;
		width: 100px;
		height: 40px;
		left: 288px;
		top: -30px;
		background: #E2E2E2;
		border-radius: 10px;

		display: flex;
    	justify-content: center;
    	align-items: center;
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 19px;
		color: #5C5C5C;
	}

	.tabel-spek{
		position: relative;
		width: 285px;
		height: 105px;
		left: 400px;
		top: -100px;
		margin-bottom: -100px;
	}

	.spek{
		position: relative;
		left: 30px;
		top: -22px;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		margin-bottom: -10px;
		color: #5F5F5F;
	}
	.bulat{
		box-sizing: border-box;
		width: 22px;
    	height: 22.2px;
		border-radius: 50px;
		border: 1px solid #5176A5;
	}
	.icon-spek{
		font-size: 14px;
		margin-left: 4px;
		left: 8px;
		top: 6px;
		color: #5176A5;

	}

	.pesan-now{
		box-sizing: border-box;
		position: relative;
		border: none;
		width: 165px;
		height: 40px;
		left: 190px;
		display: block;
		margin: 0 auto;
		top: -20px;
		margin-top: 28px;
		background: #FD6A00;
		border-radius: 20px;
	}

	/* CAROUSEL */
	.carousel-control-prev {
		left: -75px;
	}
	.carousel-control-next {
		right: -75px;
	}

	.testimonial4_slide {
		width: 95%;
		margin: auto;
		padding: 0px;
		position: relative;
		text-align: center;
	}

	.testimonial4_slide p {
		font-size: 16px;
	}

	.testimonial4_slide h4 {
		font-size: 18px;
		margin-bottom: 20px;
	}

	.testimonial4_slide h4 {
		color: #5C5C5C;
		font-size: 22px;
	}

	.detail-tour{
		width: 175px;
	}
	.pesan-wisata{
		width: 175px;
		height: 45px;
	}

	.tabel-harga{
		position: relative;
		width: 100%;
		height: 105px;
		left: 10px;
    	top: 0px;
		margin: 0 auto;

		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		color: #5C5C5C;
	}

	.pane-harga {
		margin-bottom: 90px;
	}

}
@media screen and (max-width: 767px) {
    /* MICE */
    .box-fasilitas{
		width: 100%;
		height: 40px;
		border-radius: 10px;
		font-weight: 600;
		font-size: 22px;
		margin-top: 10px;
	}

	.pesan-mice{
		margin-top: 30px;
		margin-bottom: -25px;
	}

	.text-mice {
		text-align: center;
		font-size: 17px;
		line-height: 25px;
	}

	.mice {
		padding: 0 0;
	}

    .mice-content{
        margin-left: -15px;
        font-size: 18px;
    }
    /* ENDMICE */
	.btn-wisata{
		margin-bottom: 65px;
	}
	.itenary{
		font-size: 15px;
    	line-height: 25px;
	}
	.destinasi {
		line-height: 35px;
	}
	.diskon{
		position: absolute;
		width: 60px;
		height: 60px;
		left: 400px;
		top: -25px;
		background: #FD6A00;
		border-radius: 50px;
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 23px;
		color: #FFFFFF;
	}
	.text-top{
		text-align: center;
		padding: 0 0%;
		margin-top: 40px;
	}

	.all-btn{
		margin-top: -30px;
	}

	.row-2{
		padding: 0px 40px 0px 40px;
	}

	.row-pr{
		padding: 0 40px;
		margin-bottom: 40px;
	}

	.name-car {
		top: 15px;
		left: 20px;
	}

	.box-price{
		box-sizing: border-box;
		position: relative;
		width: 100%;
		height: 40px;
		left: 0;
		top: 55px;
		display: block;
		margin: 0 auto;
		margin-top: 45px;
		background: #8BBF2B;
		border-radius: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		color: #fff;
	}

	.tab-content{
		margin-top: -60px;
	}

	.image-car {
		position: relative;
        width: 80%;
        height: auto;
        left: 0px;
        top: 50px;
        display: block;
        margin: auto;
        margin-bottom: -25px;
	}

	.box-spek{
		box-sizing: border-box;
		position: relative;
		width: 100px;
		height: 40px;
		left: -97px;
    	top: 65px;
		background: #E2E2E2;
		border-radius: 10px;

		display: flex;
		justify-content: center;
		align-items: center;
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 19px;
		color: #5C5C5C;

	}

	.box-detail{
		box-sizing: border-box;
		position: relative;
		width: 100px;
		height: 40px;
		left: -197px;
    	top: 120px;
		background: #E2E2E2;
		border-radius: 10px;

		display: flex;
		justify-content: center;
		align-items: center;
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 19px;
		color: #5C5C5C;
	}

	.tabel-spek{
		position: relative;
		width: 285px;
		height: 105px;
		left: 75px;
		top: 80px;
		margin: 0 auto;
	}

	.tabel-harga{
		position: relative;
		width: 100%;
		height: 105px;
		left: 5px;
		top: 0px;
		margin: 0 auto;

		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		color: #5C5C5C;
	}

	.pane-harga {
		margin-bottom: 280px;
	}

	.spek{
		position: relative;
		left: 30px;
		top: -22px;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		margin-bottom: -10px;
		color: #5F5F5F;
	}
	.bulat{
		box-sizing: border-box;
		width: 22px;
    	height: 22.2px;
		border-radius: 50px;
		border: 1px solid #5176A5;
	}
	.icon-spek{
		font-size: 14px;
		margin-left: 4px;
		left: 8px;
		top: 6px;
		color: #5176A5;

	}

	.pesan-now{
		box-sizing: border-box;
		position: relative;
		border: none;
		width: 165px;
		height: 40px;
		left: 0px;
		display: block;
    	margin: 0 auto;

		top: -20px;
		margin-top: 110px;
		background: #FD6A00;
		border-radius: 20px;
	}



	/* CAROUSEL */
	.carousel-control-prev {
		left: -0px;
	}
	.carousel-control-next {
		right: -0px;
	}

	.testimonial4_slide {
		width: 95%;
		margin: auto;
		padding: 0px;
		position: relative;
		text-align: center;
	}

	.testimonial4_slide p {
		font-size: 12px;
		margin: 20px 0 20px 0;
		padding: 0px 20px 0px 20px;
	}

	.testimonial4_slide h4 {
		font-size: 16px;
		margin-bottom: 20px;
	}

	.testimonial4_slide h4 {
		color: #5C5C5C;
		font-size: 18px;
	}

	.testimonial4_slide img {
		width: 110px;
		height: 110px;
		font-size: 18px;
		line-height: 46px;
		border-radius: 50%;
	}

	.detail-tour{
		width: 175px;
	}

	.paket-tour{
		margin-bottom: 20px;
	}

	.pad-tour{
		padding: 0 70px;
	}

	.title-1{
		font-size: 20px;
		line-height: 38px;
	}
	.deskripsi-1 {
		font-size: 14px;
		line-height: 20px;
		padding: 0px 10px 0px 10px;
	}
	.garis-1 {
		width: 345px;
		margin-bottom: 1rem;
		height: 2px;
	}

	.maps{
		margin-bottom: 20px;
	}

}
@media screen and (max-width: 575px) {

    .title-wisata {
        margin-bottom: 20px;
        font-size: 18px;
        line-height: 28px;
    }

    .diskon-wisata {
        margin-top: -60px;
        height: 40px;
        width: 100px;
        font-size: 16px;
    }

	.padding-kontak{
		padding: 0px 50px 0px 50px;
	}

	.img-batas{
		padding: 20px;
	}

	.btn-wisata {
		width: 115px;
		font-size: 14px;
	}

	.text-top{
		text-align: center;
		padding: 0 0%;
		margin-top: 40px;
	}

	.all-btn{
		margin-top: -30px;
	}

	.row-2{
		padding: 0px 40px 0px 40px;
	}

	.row-pr{
		padding: 0 40px;
		margin-bottom: 40px;
	}

	.name-car {
		top: 15px;
		left: 20px;
	}

	.box-price{
		box-sizing: border-box;
		position: relative;
		width: 100%;
		height: 40px;
		left: 0;
		top: 55px;
		display: block;
		margin: 0 auto;
		margin-top: 45px;
		margin-bottom: 40px;
		background: #8BBF2B;
		border-radius: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		color: #fff;
	}

	.tab-content{
		margin-top: -60px;
	}

	.image-car {
		position: relative;
        width: 80%;
        /* height: 223px; */
        left: 0px;
        top: 50px;
        display: block;
        margin: auto;
        margin-bottom: -30px;
	}

	.box-spek{
		box-sizing: border-box;
		position: relative;
		width: 100px;
		height: 40px;
		left: -85px;
    	top: 30px;
		background: #E2E2E2;
		border-radius: 10px;

		display: flex;
		justify-content: center;
		align-items: center;
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 19px;
		color: #5C5C5C;

	}

	.box-detail{
		box-sizing: border-box;
		position: relative;
		width: 100px;
		height: 40px;
		left: -185px;
    	top: 85px;
		background: #E2E2E2;
		border-radius: 10px;

		display: flex;
		justify-content: center;
		align-items: center;
		font-style: normal;
		font-weight: 400;
		font-size: 15px;
		line-height: 19px;
		color: #5C5C5C;
	}

	.tabel-spek{
		position: relative;
		width: 285px;
		height: 105px;
		left: 81px;
		top: 40px;
		margin: 0 auto;
	}

	.tabel-harga{
		position: relative;
		width: 100%;
		height: 105px;
		left: 5px;
		top: 0px;
		margin: 0 auto;

		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		color: #5C5C5C;
	}

	.pane-harga {
		margin-bottom: 230px;
	}

	.spek{
		position: relative;
		left: 30px;
		top: -22px;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		margin-bottom: -10px;
		color: #5F5F5F;
	}
	.bulat{
		box-sizing: border-box;
		width: 22px;
    	height: 22.2px;
		border-radius: 50px;
		border: 1px solid #5176A5;
	}
	.icon-spek{
		font-size: 14px;
		margin-left: 4px;
		left: 8px;
		top: 6px;
		color: #5176A5;

	}

	.pesan-now{
		box-sizing: border-box;
		position: relative;
		border: none;
		width: 165px;
		height: 40px;
		left: 0px;
		display: block;
    	margin: 0 auto;

		top: -20px;
		margin-top: 85px;
		background: #FD6A00;
		border-radius: 20px;
	}



	/* CAROUSEL */
	.carousel-control-prev {
		left: -0px;
	}
	.carousel-control-next {
		right: -0px;
	}

	.testimonial4_slide {
		width: 95%;
		margin: auto;
		padding: 0px;
		position: relative;
		text-align: center;
	}

	.testimonial4_slide p {
		font-size: 12px;
		margin: 20px 0 20px 0;
		padding: 0px 20px 0px 20px;
	}

	.testimonial4_slide h4 {
		font-size: 16px;
		margin-bottom: 20px;
	}

	.testimonial4_slide h4 {
		color: #5C5C5C;
		font-size: 18px;
	}

	.testimonial4_slide img {
		width: 110px;
		height: 110px;
		font-size: 18px;
		line-height: 46px;
		border-radius: 50%;
	}

	.detail-tour{
		width: 175px;
	}

	.paket-tour{
		margin-bottom: 20px;
	}

	.pad-tour{
		padding: 0 70px;
	}

	.title-1{
		font-size: 20px;
		line-height: 38px;
	}
	.deskripsi-1 {
		font-size: 14px;
		line-height: 20px;
		padding: 0px 10px 0px 10px;
	}
	.garis-1 {
		width: 345px;
		margin-bottom: 1rem;
		height: 2px;
	}

	.maps{
		margin-bottom: 20px;
	}

}
@media screen and (max-width: 500px) {

    .img-memilih{
        margin-bottom: 10px;
    }
	.harga-wisata {
		font-size: 15px;
		height: 40px;
	}

	.destinasi {
		font-size: 16px;
		line-height: 25px;
	}
	.table-bordered{
		font-size: 12px;
		line-height: 10px;
	}
	.btn-wisata {
		width: 88px;
		height: 35px;
		font-size: 11px;
		margin-bottom: 35px;
		margin-top: 5px;
	}

	.diskon{
		position: absolute;
		width: 60px;
		height: 60px;
		left: 300px;
		top: -25px;
		background: #FD6A00;
		border-radius: 50px;
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
		font-style: normal;
		font-weight: 400;
		font-size: 20px;
		line-height: 23px;
		color: #FFFFFF;
	}


	.text-top{
		text-align: center;
		padding: 0 0%;
		margin-top: 40px;
	}

	.all-btn{
		margin-top: -15px;
	}

	.row-2{
		padding: 0px 40px 0px 40px;
	}

	.row-pr{
		padding: 0 40px;
		margin-bottom: 40px;
	}

	.name-car {
		top: 15px;
		left: 20px;
	}

	.box-price{
		box-sizing: border-box;
		position: relative;
		width: 100%;
		height: 40px;
		left: 0;
		top: 50px;
		display: block;
		margin: 0 auto;
		margin-top: 45px;
		background: #8BBF2B;
		border-radius: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-style: normal;
		font-weight: 500;
		font-size: 15px;
		color: #fff;
	}

	.image-car {
		position: relative;
    width: 80%;
    left: 0px;
    top: 50px;
    display: block;
    margin: auto;
    margin-bottom: -35px;
	}

	.box-spek{
		box-sizing: border-box;
		position: relative;
		width: 90px;
		height: 30px;
		left: -5px;
    	top: 50px;
		display: block;
   		 margin: 0 auto;
		background: #E2E2E2;
		border-radius: 10px;

		display: flex;
		justify-content: center;
		align-items: center;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 19px;
		color: #5C5C5C;

	}

	.box-detail{
		box-sizing: border-box;
		position: relative;
		width: 90px;
		height: 30px;
		left: 5px;
    	top: 50px;
		display: block;
		margin: 0 auto;
		background: #E2E2E2;

		border-radius: 10px;
		display: flex;
		justify-content: center;
		align-items: center;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 12px;
		color: #5C5C5C;
	}

	.tabel-spek{
		position: relative;
		width: 100%;
		height: 105px;
		left: 10px;
		top: 90px;
		/* display: block; */
    	margin: 0 auto;
		margin-bottom: 120px;
	}
	.tabel-harga{
		position: relative;
		width: 100%;
		height: 105px;
		left: 5px;
		top: 0px;
		margin: 0 auto;

		font-style: normal;
		font-weight: 400;
		font-size: 16px;
		line-height: 19px;
		color: #5C5C5C;
	}

	.pane-harga{
		margin-bottom: 270px;
	}
	.pane-bus{
		margin-bottom: 0px;
	}

	.spek{
		position: relative;
		left: 30px;
		top: -22px;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		margin-bottom: -10px;
		color: #5F5F5F;
	}
	.bulat{
		box-sizing: border-box;
		width: 22px;
    	height: 22.2px;
		border-radius: 50px;
		border: 1px solid #5176A5;
	}
	.icon-spek{
		font-size: 14px;
		margin-left: 4px;
		left: 8px;
		top: 6px;
		color: #5176A5;

	}

	.pesan-now{
		box-sizing: border-box;
		position: relative;
		border: none;
		width: 165px;
		height: 40px;
		left: 0px;
		display: block;
    	margin: 0 auto;

		top: -20px;
		margin-top: 85px;
		background: #FD6A00;
		border-radius: 20px;
	}
.pesan{
	font-size: 16px;
}

.tab-content{
	margin-top: -40px;
}

	/* CAROUSEL */
	.carousel-control-prev {
		left: -0px;
	}
	.carousel-control-next {
		right: -0px;
	}

	.testimonial4_slide {
		width: 95%;
		margin: auto;
		padding: 0px;
		position: relative;
		text-align: center;
	}

	.testimonial4_slide p {
		font-size: 12px;
		margin: 20px 0 20px 0;
		padding: 0px 20px 0px 20px;
	}

	.testimonial4_slide h4 {
		font-size: 16px;
		margin-bottom: 20px;
	}

	.testimonial4_slide h4 {
		color: #5C5C5C;
		font-size: 18px;
	}

	.testimonial4_slide img {
		width: 110px;
		height: 110px;
		font-size: 18px;
		line-height: 46px;
		border-radius: 50%;
	}

	.detail-tour{
		width: 175px;
	}

	.pesan-wisata{
		width: 175px;
		height: 40px;
    	font-size: 18px;
	}

	.paket-tour{
		margin-bottom: 20px;
	}

	.pad-tour{
		padding: 0 50px;
	}

	.title-1{
		font-size: 20px;
		line-height: 38px;
	}
	.deskripsi-1 {
		font-size: 14px;
		line-height: 20px;
		padding: 0px 10px 0px 10px;
	}
	.garis-1 {
		width: 345px;
		margin-bottom: 2rem;
		height: 2px;
	}

	.maps{
		margin-bottom: 20px;
	}

}
@media screen and (max-width: 412px) {

    /* .title-wisata {
        font-size: 16px;
    } */


    .diskon-wisata {
        margin-top: -60px;
        height: 35px;
        width: 100px;
        font-size: 14px;
    }

	.pt-wisata {
		padding: 2px;
	}

	.harga-wisata {
		font-size: 14px;
		height: 40px;
	}

	.box-price{
		font-size: 12px;
	}

	.box-detail{
		font-size: 12px;
	}

	.box-spek{
		font-size: 12px;
	}

	.title-memilih{
		margin-top: 0px;
		margin-bottom: -10px;
		font-size: 20px;
	}

	.text-memilih{
		padding: 0px 25px 0px 25px;
	}

	ul.ul-memilih {
		padding: 0px 25px 0px 25px;
	}

	li.li-memilih {
		font-size: 14px;
	}

	.pad-tour {
		padding: 0 25px;
	}

	.diskon{
		position: absolute;
		width: 50px;
		height: 50px;
		left: 275px;
		top: -20px;
		background: #FD6A00;
		border-radius: 50px;
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 23px;
		color: #FFFFFF;
	}
}
@media screen and (max-width: 390px) {
	.pt-wisata {
		padding: 0.8px;
	}

	.harga-wisata {
		font-size: 12px;
		padding-left: 15px;
		height: 40px;
	}
}
@media screen and (max-width: 360px) {

	.harga-wisata {
		font-size: 12px;
		padding-left: 4px;
		height: 40px;
	}

	.pt-wisata {
		padding: 2px;
	}
	.btn-wisata {
		width: 82px;
		height: 35px;
		font-size: 10px;
		margin-bottom: 35px;
		margin-top: 5px;
	}
	.title-memilih{
		margin-top: 0px;
		margin-bottom: -10px;
		font-size: 20px;
	}

	.text-memilih{
		padding: 0px 25px 0px 25px;
	}

	ul.ul-memilih {
		padding: 0px 25px 0px 25px;
	}

	li.li-memilih {
		font-size: 14px;
	}

	.diskon{
		position: absolute;
		width: 50px;
		height: 50px;
		left: 228px;
		top: -20px;
		background: #FD6A00;
		border-radius: 50px;
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 23px;
		color: #FFFFFF;
	}

	.box-price{
		font-size: 12px;
	}

	.box-spek {
		left: -3px;
		top: 50px;
		font-size: 12px;
	}
	.box-detail {
		left: 3px;
		top: 50px;
		font-size: 12px;
	}

	.title-1 {
		font-size: 16px;
		line-height: 38px;
	}

	.spek{
		position: relative;
		left: 27px;
		top: -20px;
		font-style: normal;
		font-weight: 500;
		font-size: 10.5px;
		margin-bottom: -10px;
		color: #5F5F5F;
	}

	.icon-spek {
		font-size: 12px;
	}

	.bulat{
		width: 20px;
		height: 20.2px;
	}

	.tabel-spek {
		left: -9px;
		width: 250px;
		/* margin-top: -60px; */
        margin-top: 5px;
		font-size: 12px;
	}
	.pad-tour {
		padding: 0 20px;
	}
}
@media screen and (max-width: 320px) {

	/* .harga-wisata {
		font-size: 15px;
		height: 38px;
		padding-left: 10px;
	} */

	.pt-wisata {
		padding: 2px;
	}
	.btn-wisata {
		width: 69px;
		height: 30px;
		font-size: 9px;
		margin-bottom: 35px;
		margin-top: 5px;
	}

	.pad-tour {
		padding: 0 20px;
	}

	.garis-1{
		width: 100px;
		margin-bottom: 1rem;
	}
	.diskon{
		overflow: initial;
		position: absolute;
		width: 50px;
		height: 50px;
		left: 235px;
		top: -20px;
		background: #FD6A00;
		border-radius: 50px;
		border: none;
		display: flex;
		justify-content: center;
		align-items: center;
		font-style: normal;
		font-weight: 400;
		font-size: 18px;
		line-height: 23px;
		color: #FFFFFF;
	}

	.box-price{
		font-size: 14px;
		margin-bottom: -15px;
	}

	.row-2 {
		padding: 0px 10px 0px 10px;
	}

	.title-1 {
		font-size: 16px;
		line-height: 38px;
		margin-bottom: 10px;
	}

	.spek{
		position: relative;
		left: 27px;
		top: -20px;
		font-style: normal;
		font-weight: 500;
		font-size: 12px;
		margin-bottom: -10px;
		color: #5F5F5F;
	}

	.icon-spek {
		font-size: 12px;
	}

	.bulat{
		width: 20px;
		height: 20.2px;
	}

	.tabel-spek {
		left: 8px;
		width: 250px;
	}

	.row-pr {
		padding: 0 10px;
		margin-bottom: 40px;
	}

    .box-spek {
        left: -3px;
        top: 66px;
        font-size: 12px;
        margin-top: 5px;
    }

    .box-detail{
        left: 13px;
        top: 66px;
        font-size: 12px;
        margin-bottom: 40px;
        margin-top: 5px;
    }

}
