body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #5C5C5C;
}
a {
    text-decoration: none;
    color: #fff;
}
a:hover {
    text-decoration: none;
    color: #ff7300;
}

.header-sosmed {
    font-size: 25px;
    padding: 3px 4px;
    background-color: #002239;
    color: #fff;
    border-radius: 8px;
  }

  .header-sosmed.facebook {
    padding: 3px 7px;
  }


  .fab {
    font-size: 25px;
  }


/* MICE */
.mice{
    margin-top: 25px;
    padding: 0 10%;
}

.text-mice{
    position: relative;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.box-mice{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 50px;
    background: #3986B4;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.box-fasilitas{
    box-sizing: border-box;
    position: relative;
    width: 95%;
    height: 45px;
    background: #E2E2E2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 26px;
    color: #5F5F5F;
}

.pesan-mice{
    box-sizing: border-box;
    /* position: absolute; */
    position: relative;
    border: none;
    width: 220px;
    height: 45px;
    justify-content: center;
    align-items: center;
    display:block;
    margin: 0 auto;
    margin-top: 25px;
    background: #FD6A00;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    border-radius: 20px;
}

.box-text {
    margin-left: 20px;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}

.mice-content{
    margin-top: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
}

/* ENDMICE */

/*faq*/
.accordion .accordion-item {
    border-bottom: 1px solid #e5e5e5;
  }
  .accordion .accordion-item button[aria-expanded=true] {
    border-bottom: 1px solid #3986B4;
    border-radius: 8px;
    /*padding: 15px 10px;*/
  }
  .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #888;
    font-size: 16px;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }
  .accordion button:hover, .accordion button:focus {
    cursor: pointer;
    color: #3986B4;
  }
  .accordion button:hover::after, .accordion button:focus::after {
    cursor: pointer;
    color: #3986B4;
    border: 1px solid #3986B4;
  }
  .accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
    padding-left: 10px !important;
    font-size: 20px;
    font-weight: 550;
  }
  .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 10px;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
  }
  .accordion button .icon::before {
    display: block;
    position: absolute;
    content: "";
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
  }
  .accordion button .icon::after {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
  }
  .accordion button[aria-expanded=true] {
    color: #fff;
    background-color: #3986B4;
  }
  .accordion button[aria-expanded=true] .icon::after {
    width: 0;
  }
  .accordion button[aria-expanded=true] + .accordion-content {
    opacity: 1;
    max-height: 50em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
    margin-top: 10px;
    line-height: 35px;

  }
  .accordion .accordion-content p {
    font-size: 1rem;
    margin: 2em 0;
    padding: 0 10px;
    color: #888;
  }


.head-blog{
    padding: 58px;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;

    color: #FFFFFF;

}

.img-batas{
    margin-top: 35px;
}
.img-blog{
    width: 100%;
    height: auto;
    position: relative;
    border-radius: 10px;
}
.title-blog-color{

    color: #5C5C5C;
}
.title-blog{
    margin-top: 10px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}

.bar-detail{
/* font-family: 'Roboto'; */
margin-top: 35px;
margin-bottom: 10px;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;

color: #3986B4;
}
.tblog-detail{
/* font-family: 'Roboto'; */
margin-top: 35px;
margin-bottom: 10px;
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 28px;

color: #003E69;
}

.fa-kontak{
    font-size: 20px;
    font-weight: 900;
    color: #3986B4;
    margin-left: -30px;
    margin-right: 10px;
}

.title-kontak{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.asta{
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 28px;
}
.head-kontak{
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.img-about{
    width: 100%;
    height: auto;
    margin-bottom: 25px;
}

.desc-about{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;
}

.desc-blog{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    margin-top: 15px;
    text-align: justify;
}

.img-galeri{
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.hr-tblog{
    position: relative;
    width: 100%;
    height: 4px;
    margin-top: 0px;
    margin-bottom: 20px;

    background: #3986B4;
}

.bar-color{
    color: #003E69;
}

ul.ul-bar-detail {
    left: 45px;
    height: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li.li-bar-detail {
    padding: 5px 0 5px 0px;
    line-height: 25px;
    color: #113945;
    display: block;
    cursor: pointer;

}
li.li-bar-blog {
    padding: 5px 0 5px 0px;
    font-size: 14px;
    line-height: 20px;
    color: #113945;
    display: block;
    cursor: pointer;

}

.gr-bar-detail {
    position: relative;
    width: 100%;
    height: 1px;
    margin-top: 0px;
    margin-bottom: 0px;

    background: #005C9C;
}

.kotak-wisata{
    width: 100%;
    height: auto;
    margin-top: 35px;

    background: #FFFFFF;
    box-shadow: 3px 3px 10px 4px rgb(0 0 0 / 43%);
    border-radius: 10px;
    padding: 25px 35px;
}
.title-wisata{
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #5C5C5C;
}

.harga-wisata{
    margin-top: 10px;
    height: 50px;

    background: #3986B4;
    border-radius: 10px;
    padding-left: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
}
.btn-wisata{
    margin-top: 10px;
    height: 45px;
    width: 240px;

    /* background: #3986B4; */
    border: none;
    background: #E2E2E2;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #5C5C5C;
}

.nav-tabs{
    border: none;
}

.destinasi{
    margin-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 45px;

    color: #5C5C5C;
}

.title-itenary{
    margin-top: 15px;
    margin-bottom: 5px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;

    color: #5C5C5C;
}
.itenary{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
    color: #5C5C5C;
}

.table-bordered{
    margin-top: 10px;
    color: #5C5C5C;
}

.list-destinasti{
    text-align: center;
}

.pt-wisata{
    padding: 5px;
}

.navs{
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        align-content: flex-start;
        flex-direction: row;
        justify-content: center;
}

.nav-wisata{
    padding: 5px;
}

.btn-wisata.active {
    color: #fff;
    background-color: #3986B4;
  }

.img-wisata{
    width: 100%;
    height: auto;
}

.header-logo {
    height: 100px;
    background-color: #fff;
    display: block;
    text-align: center;
    padding: 10px 0px;
}
.header-logo img {
    height: 100%;
    margin: 0 auto;
}

.carousel-caption {
    top: 30%;
}

/*navbar HOME*/
.navbar.pt {
    background-color: #005C9C;
    padding: 0 120px;
}
.navbar.pt .iconStyle {
    color: #003E69;
    font-size: 25px;

}
.navbar.pt ul li a {
    margin-left: 50px;
    color: #fff;
    font-size: 18px;
    margin-left: 5px;
    margin-right: 5px;
}

.dropdown-menu{
    background-color: #005C9C;
    border: none;
}

.dropdown-menu a:hover {
    background-color: rgba(0, 0, 0, 0.255);
    width: auto; }

.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar .navbar-brand {
    width: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    margin: 0 12px;
    font-size: 20px;
}

.banner{
    background-color: #3986B4;
}

.judul{
    color: #fff;
    margin-top: 40px;
    font-size: 30px;
    font-weight: 600;
}
.deskripsi{
    margin-bottom: 20px;
    color: #fff;
}

.img-head{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
    margin-bottom: 20px;
}

.img-bus{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 70px;
}

.text-top{
    text-align: center;
    padding: 0 20%;
    margin-top: 40px;
}

.title-1{
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    color : #005C9C;
    text-align: center;
}

.deskripsi-1{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
}

.garis-1{
    width: 428px;
    margin-bottom: 2rem;
    height: 2px;
    left: 337px;
    background: #005C9C;
}

/* KOTAK */
.row-2{
    padding: 0 120px;
}

.kotak{
    position: relative;
    width: 100%;
    height: auto;
    /* top: 20px; */

    background: #FFFFFF;
    box-shadow: 3px 3px 10px 4px rgb(0 0 0 / 43%);
    border-radius: 10px;
}
.name-car{
    position: absolute;
    height: 23px;
    left: 35px;
    top: 30px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 23px;
    color: #5C5C5C;
}

.image-car{
    position: relative;
    width: 90%;
    height: 195px;
    left: -5px;
    top: 75px;
    /* margin-bottom: 40px; */
}

.img-memilih {
    position: relative;
    width: 100%;
    /* height: 223px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: -15px;
}

.title-memilih{
    height: 30px;

    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 30px;
    margin-top: 60px;
    margin-left: 55px;

    color: #005C9C;
}

.diskon-wisata{
    float: right;
    margin-top: -60px;
    height: 50px;
    width: 180px;
    background: #FD6A00;
    border-radius: 15px;
    /* padding-left: 0px; */
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    justify-content: center;
}

.text-memilih{
    position: relative;
    margin-top: 30px;
    margin-left: 55px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    color: #5C5C5C;
}

ul.ul-memilih {
    left: 45px;
    height: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li.li-memilih {
    margin-left: 45px;
    padding: 5px 0 5px 10px;
    line-height: 25px;
    color: #113945;
    display: block;
    cursor: pointer;

}

.color-check {
    font-size: 20px;
    font-weight: 900;
    color: #3986B4;
}

.gr-memilih {
    position: relative;
    width: 100%;
    height: 1px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 52px;

    background: #005C9C;
}


li .fa {
    margin: 0 20px 0 0;
}

.box-price{
    box-sizing: border-box;
    position: absolute;
    width: 460px;
    height: 50px;
    left: 385px;
    top: -185px;
    background: #8BBF2B;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	color: #fff;
}

.car-price{
    position: absolute;
    width: 405px;
    height: 23px;
    left: 15px;
    top: 15px;
    /* font-family: 'Roboto'; */
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 23px;
    color: #FFFFFF;
}
.box-spek{
    box-sizing: border-box;
    position: absolute;
    width: 140px;
    height: 50px;
    left: 370px;
    top: -115px;
    background: #E2E2E2;
    /* background: #8BBF2B; */
    border-radius: 10px;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 19px;
	color: #5C5C5C;
}
.box-detail{
    box-sizing: border-box;
    position: absolute;
    width: 140px;
    height: 50px;
    left: 370px;
    top: -45px;
    background: #E2E2E2;
    border-radius: 10px;
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 19px;
	color: #5C5C5C;
}
.text-detail{
    position: absolute;
    width: 115px;
    left: 15px;
    top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 19px;
    color: #5C5C5C;
}

.tabel-harga{
    position: relative;
    width: 100%;
    height: 105px;
    left: 10px;
    top: 0px;
    margin: 0 auto;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #5C5C5C;
}

.pagination {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    margin-top: 15px;
    margin-bottom: -10px;
}

.tabel-spek{
    position: relative;
    width: 312px;
    height: 90px;
    left: 535px;
    top: -128px;
    margin-bottom: -150px;
}

.pane-harga {
    margin-bottom: 85px;
}

.pesan-now{
    box-sizing: border-box;
    /* position: absolute; */
    position: relative;
    border: none;
    width: 165px;
    height: 40px;
    left: 600px;
    margin-top: 30px;
    margin-bottom: 20px;
    /* top: 106px; */
    background: #FD6A00;
    border-radius: 20px;
}

.pesan{
    position: absolute;
    width: 145px;
    /* height: 18px; */
    left: 10px;
    top: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.diskon{
    position: absolute;
    width: 60px;
    height: 60px;
    left: 840px;
    top: -30px;
    background: #FD6A00;
    border-radius: 50px;

    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #FFFFFF;
}

button:hover.pesan-now {
  background-color: #ff8f3e;
}
button:active.pesan-now {
  background-color: #FD6A00;
}

.all-btn{
    color: #fff;
    box-sizing: border-box;
    border: none;
    display: block;
    margin: 0 auto;
    width: 136px;
    margin-top: 10px;
    height: 40px;
    background: #5176A5;
    border-radius: 20px;
}

.view-all{
    position: absolute;
    text-align: center;
    color: #FFFFFF;
}

button:hover.all-btn {
    background-color: #5e8dca;
}

button:active.all-btn {
    background-color: #5176A5;
}

.box-spek.active {
    color: #fff;
    background-color: #8BBF2B;
  }

  .box-detail.active {
    color: #fff;
    background-color: #8BBF2B;
  }

  .nav {
    /* display: block; */
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    align-content: flex-start;
    flex-direction: row;
    justify-content: center;
  }

.spek{
    position: relative;
    left: 30px;
    top: -24px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: -5px;
    color: #5F5F5F;
}

.bulat{
    box-sizing: border-box;
    width: 25px;
    height: 24.2px;
    border-radius: 50px;
    border: 1px solid #5176A5;
}

.icon-spek{
    margin-left: 4px;
    left: 8px;
    top: 6px;
    color: #5176A5;

}



.harga-detail{
    position: absolute;
    width: 250px;
    /* height: 406px; */
    left: 180px;
    margin-top: -10px;
    left: 170px;
    margin-top: -65px;
    position: absolute;
    width: 250px;
    left: 170px;
    margin-top: -65px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #5C5C5C;
}
.posisi{
    margin-top: 15px;
}
.batas{
    margin-top: 10px;
}

.bg-promo{
    width: 100%;
    background: #c3d3f7;
    margin-top: 30px;
}

.row-pr{
    padding: 0 120px;
    margin-bottom: 40px;
}

.carousel-indicators li{
    background-color: #000 !important;
}
.carousel-control-next, .carousel-control-prev{
    color: #000 !important;

}

.judul-syarat{
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 16px;
text-align: center;
color: #5C5C5C;
}

.desk-syarat{
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 25px;
color: #5C5C5C;
}


.testimonial4_slide {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 77%;
    margin: auto;
    padding: 20px;
    position: relative;
    text-align: center;
  }

  .testimonial4_slide img {
    top: 0;
    left: 0;
    right: 0;
    width: 136px;
    height: 136px;
    margin: auto;
    display: block;
    color: #f2f2f2;
    font-size: 18px;
    line-height: 46px;
    text-align: center;
    position: relative;
    border-radius: 50%;
    box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -o-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
    -webkit-box-shadow: -6px 6px 6px rgba(0, 0, 0, 0.23);
  }

  .testimonial4_slide p {
    color: #5C5C5C;
    font-size: 20px;
    line-height: 1.4;
    margin: 40px 0 20px 0;
  }

  .testimonial4_slide h4 {
    color: #5C5C5C;
    font-size: 22px;
  }

  .img-tour {
    padding: 15px;
    width: 100%;
    height: 380px;
    /* height: ; */
  }
  .title-tour {
    padding: 5px 15px 15px 15px;
    width: 100%;
    /* height: ; */
  }

  .card {
    border-radius: 10px;
    background-color: #3986B4;
  }

  .judul-tour {
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
  }

  .pilihan-tour {
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
  }
  .harga-tour {
    text-align: center;
    color: #fff;
    font-weight: 800;
    font-size: 24px;
    margin-top: -10px;
  }

  .detail-tour{
    box-sizing: border-box;
    /* position: absolute; */
    position: relative;
    border: none;
    width: 220px;
    height: 40px;
    justify-content: center;
    align-items: center;
    display:block;
    margin: 0 auto;
    margin-top: -5px;
    margin-bottom: 10px;
    background: #FD6A00;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    border-radius: 20px;
}
  .pesan-wisata{
    box-sizing: border-box;
    /* position: absolute; */
    position: relative;
    border: none;
    width: 220px;
    height: 50px;
    justify-content: center;
    align-items: center;
    display:block;
    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: -5px;
    background: #FD6A00;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    border-radius: 20px;
}

    button:hover.detail-tour {
    background-color: #ff8f3e;
    }
  button:active.detail-tour {
    background-color: #FD6A00;
  }

.title-fot{
    margin-top: 20px;
    font-weight: 650;
    font-size: 20px;
    line-height: 21px;
    /* identical to box height */
    color: #FFFFFF;

}
.text-fot{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    width: 235px;
    color: #FFFFFF;
}
.kontak-fot{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 5px;
    margin-top: 12px;
}
.alamat-fot{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}
.copyright{
    background-color: #002239;
    height: 71px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


  /* button[disabled] {
    color: var(--label-disabled-color);
    background-color: var(--background-disabled-color);
    border-color: var(--border-disabled-color);
  } */
